{% extends 'base.html.twig' %}

{% block title %}Vous êtes sur la page de Pierre!{% endblock %}

{% block body %}


<div class="example-wrapper">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% if movie.id %} Le film {{ movie.name}} a bien été ajouté {% endif %}



</div>
{% endblock %}
