{% extends 'base.html.twig' %}

{% block title %}Ajouter une critique{% endblock %}

{% block body %}
<div id="add-critique">
  <div class="container">

    {{ include('critique/_form.html.twig') }}

  </div>
</div>

{% endblock %}
